/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [BId]
      ,[Username]
      ,[Password]
      ,[Emailid]
      ,[MobileNumber]
      ,[dateTime]
  FROM [ProjectDataBase].[dbo].[Buyers]