<h1 [innerText]='item.CName'></h1>
<table>
    <tr>
        <td>Hello </td>
        <td><input type="text" [value]="item.CName"></td>
    </tr>
    <tr>
        <td>You are from </td>
        <td><input type="text" [value]="item.City"></td>
    </tr>
    <tr>
        <td>Mobile</td>
        <td><input type="number" [value]="item.Mobile"></td>
    </tr>
    <tr>
        <td>Email:</td>
        <td><input type="text" [value]="item.Email"></td>
    </tr>
    <tr>
        <td>Address:</td>
        <td><input type="text" [value]="item.Address"></td>
    </tr>
</table>
<a [href]='url'>Google</a>